/composer.phar
/composer.lock
/phpunit.xml
/vendor
/tests/test_app/App/tmp/*
/tests/test_app/App/files/*
/tmp

# Tool specific files #
#######################
# Eclipse
.settings/*
# JetBrains, aka PHPStorm, IntelliJ IDEA
.idea/*
# NetBeans
nbproject/*
# Visual Studio Code
.vscode
